@media(max-width:1170px) and (min-width:767px){
    .btn-call {
        width: 30%;
    }
}
@media(max-width:767px){
    .btn-call {
        width: 25%;
    }
    .CONTENT-section {
        margin-top: 45px;
    }
    .design {
        margin-bottom: 40px;
    }
    .Showcase-img {
        margin: auto;
        margin-bottom: 50px;
    }
}
@media(min-width:321px) and (max-width:477px){
    .btn-call {
        width: 34%;
    }
}

@media(max-width:320px){
    .banner-section h1 {
        font-size: 60px;
    }
    .banner-section p {
        font-size: 15px;
    }
    .btn-call {
        width: 45%;
    }
}
